<div class="container">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  <div class="IconLogo">
    
  </div>

  <h1 class="logoName">
  MCOM ACADEMIA 
  </h1>
</div>
<div class="containerText">
    <h2 class="title">ESTA CANSADO DE TREINA E NÃO TER RESULTADOS .</h2>
    <p class="subtitle">BORA ACESSAR O APLICATIVO MCOM E COLOCAR EM DIA AQUELE TREINO..</p>
</div>

<div class="acessar">
<ion-button class="botao" routerLink="/main" expand="block">ACESSAR</ion-button>
</div>
