<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <ion-title class="headerTitle">MCOM ACADEMIA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="title">ADICIONE SEUS TREINOS AQUI</h2>
    <div class="container">

    <form action="">
    <input type="text" class="inputForm" placeholder="Adicione um treino aqui...">
    
    </form>

    <ion-button class="botao" expand="block">Cadastrar Treino</ion-button>

  </div>
</ion-content>